:root {
  --black: #282928;
  --white: #f3f2f0;
  --light-gray: #dae0e0;
  --gray: #222327;


  /*Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.light {
  --primary: var(--white);
  --secondary: var(--gray);
  --text-color: var(--gray);
  --accent-color: var(--light-gray);
}

.dark {
  --primary: var(--black);
  --secondary: var(--light-gray);
  --text-color: var(--light-gray);
  --accent-color: var(--gray);
}

.character-item { 
  background-color: var(--accent-color);
}
.main {
  background-color: var(--accent-color);
  height: 90vh;
}


body {
  background-color: var(--primary);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
  color: var(--secondary);
}

